<div class="modal-overlay" (click)="close.emit()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="close.emit()">✕</button>
    
    <h2 class="form-title">Editar Usuario</h2>
    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mt-md">
      
      <div class="form-group">
        <label class="custom-label">Nombre</label>
        <input type="text" formControlName="name" class="custom-input" maxlength="200"
               [class.error]="userForm.get('name')?.invalid && (userForm.get('name')?.dirty || userForm.get('name')?.touched)">
        
        @if (userForm.get('name')?.invalid && (userForm.get('name')?.dirty || userForm.get('name')?.touched)) {
          @if (userForm.get('name')?.errors?.['required']) {
            <span class="form-error">El nombre es requerido.</span>
          } @else if (userForm.get('name')?.errors?.['minlength']) {
            <span class="form-error">El nombre debe tener al menos 3 caracteres.</span>
          } @else if (userForm.get('name')?.errors?.['maxlength']) {
            <span class="form-error">El nombre no debe exceder los 200 caracteres.</span>
          } @else if (userForm.get('name')?.errors?.['pattern']) {
            <span class="form-error">No se permiten caracteres especiales como &lt; o &gt;.</span>
          }
        }
      </div>

      <div class="form-group mt-sm">
        <label class="custom-label">Apellido</label>
        <input type="text" formControlName="lastname" class="custom-input" maxlength="250"
               [class.error]="userForm.get('lastname')?.invalid && (userForm.get('lastname')?.dirty || userForm.get('lastname')?.touched)">
        
        @if (userForm.get('lastname')?.invalid && (userForm.get('lastname')?.dirty || userForm.get('lastname')?.touched)) {
          @if (userForm.get('lastname')?.errors?.['required']) {
            <span class="form-error">El apellido es requerido.</span>
          } @else if (userForm.get('lastname')?.errors?.['minlength']) {
            <span class="form-error">El apellido debe tener al menos 3 caracteres.</span>
          } @else if (userForm.get('lastname')?.errors?.['maxlength']) {
            <span class="form-error">El apellido no debe exceder los 250 caracteres.</span>
          } @else if (userForm.get('lastname')?.errors?.['pattern']) {
            <span class="form-error">No se permiten caracteres especiales como &lt; o &gt;.</span>
          }
        }
      </div>

      <div class="form-group mt-sm">
        <label class="custom-label">Usuario</label>
        <input type="text" formControlName="username" class="custom-input" maxlength="100"
               [class.error]="userForm.get('username')?.invalid && (userForm.get('username')?.dirty || userForm.get('username')?.touched)">
        
        @if (userForm.get('username')?.invalid && (userForm.get('username')?.dirty || userForm.get('username')?.touched)) {
          @if (userForm.get('username')?.errors?.['required']) {
            <span class="form-error">El usuario es requerido.</span>
          } @else if (userForm.get('username')?.errors?.['minlength']) {
            <span class="form-error">El usuario debe tener al menos 3 caracteres.</span>
          } @else if (userForm.get('username')?.errors?.['maxlength']) {
            <span class="form-error">El usuario no debe exceder los 100 caracteres.</span>
          } @else if (userForm.get('username')?.errors?.['pattern']) {
            <span class="form-error">No se permiten caracteres especiales como &lt; o &gt;.</span>
          }
        }
      </div>

      <button type="submit" class="btn btn-primary btn-full mt-xl" [disabled]="isLoading">
        {{ isLoading ? 'Guardando...' : 'Guardar Cambios' }}
      </button>

    </form>
  </div>
</div>